<a href="https://colab.research.google.com/github/VenissaCarolQuadros/COMP551/blob/main/COMP551_A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
import pandas as pd

In [3]:
url1 = "https://raw.githubusercontent.com/VenissaCarolQuadros/COMP551/main/data/ENB2012_data.xlsx"

response = requests.get(url1)

dest = 'LinearRegression.xlsx'

with open(dest, 'wb') as file:
    file.write(response.content)

data1 = pd.read_excel(dest)

data1.head()

     X1     X2     X3      X4   X5  X6   X7  X8     Y1     Y2
0  0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33
1  0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55  21.33
2  0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.55  21.33
3  0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.55  21.33
4  0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.84  28.28

In [11]:
url2='https://raw.githubusercontent.com/VenissaCarolQuadros/COMP551/main/data/Qualitative_Bankruptcy/Qualitative_Bankruptcy.data.txt'
response = requests.get(url2)

dest = 'LogisticRegression.csv'

with open(dest, 'wb') as file:
    file.write(response.content)
data2= pd.read_csv(dest, header=None)
data2.head()

   0  1  2  3  4  5   6
0  P  P  A  A  A  P  NB
1  N  N  A  A  A  N  NB
2  A  A  A  A  A  A  NB
3  P  P  P  P  P  P  NB
4  N  N  P  P  P  N  NB